<%- include("../partials/header") %>
<%- include("../partials/leyout") %> 
<div class="control">
    <h1 class="subtitle"> Products </h1> 
    <a href="/admin/products/new " class="button is-primary">New Product</a>
            </div> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th> Price </th> 
                        <th>Edit</th>
                        <th> Delete </th> 
                    </tr>
                </thead>
                <tbody> <% for( let product of products ) { %> <tr>
                        <td> <%= product.title %> </td> 
                        <td><%= product.price %></td>
                        <td>
                            <a href="/admin/products/<%= product.id %>/edit" class="button is-link">Edit </a>
                        </td>
                        <td> 
                            <form action="/admin/products/<%= product.id %>?_method=DELETE" method="POST">
                                <button class="button is-danger"> Delete </button> 
                            </form>
                        </td>
                                    </tr> 
                                    <% } %> 
                                </tbody> 
                                </table> 
                                    <%- include("../partials/header") %>